<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Data API</title>
</head>

<body>
    <h1>Weather Data API</h1>
    <div>
        <h2>Introduction</h2>
        <p>
            Hello, this Weather Data API was built by following
            <a href="http://linkedin.com/in/arditsulce">Ardit Sulce</a>'s
            <a href="http://www.udemy.com/course/the-python-mega-course/">
                Python Mega Course</a>
        </p>
    </div>
    <div>
        <h2>Usage</h2>
        <p>
            To retrieve the weather data, you should send a GET request to the
            following endpoint: <br>
            <code> http://localhost:5000/api/station/date </code>
        </p>
        <p>
            For example: <br>
            <code> http://localhost:5000/api/14/20241105 </code>
        </p>
    </div>
</body>

</html>